.header {
  padding-top: 36px;
  padding-bottom: 36px;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.switcher__block {
  width: 100px;
}

.switcher {
  display: none;
}

.switcher__for {
  position: relative;

  &::after {
    content: '';
    width: 54px;
    height: 30px;
    background-color: #f2f2f2;
    border-radius: 15px;
    position: absolute;
    top: -14px;
    cursor: pointer;
  }

  &::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: -9.5px;
    right: -25px;
    transition: 0.3s;
    cursor: pointer;
  }
}

.switcher:checked + .switcher__for::before {
  right: -48px;
  transition: 0.3s;
}
