.statistic-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .reset-btn {
    margin-bottom: 4px;

    width: 70px;
    height: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;

    color: #ffffff;
    border: none;
    border-radius: 2%;

    background: #00bf9a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    cursor: pointer;
  }

  .category {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 767px) {
      display: block;
    }

    .title {
      margin-bottom: 4px;

      @media screen and (max-width: 1439px) {
        font-size: 14px;
      }

      @media screen and (max-width: 1199px) {
        font-size: 8px;
      }

      @media screen and (max-width: 767px) {
        font-size: 4px;

        margin-bottom: 0;
      }
    }

    img {
      width: 150px;
      height: 130px;

      border-radius: 8px;

      @media screen and (max-width: 1439px) {
        width: 100px;
        height: 66px;
      }

      @media screen and (max-width: 1199px) {
        width: 60px;
        height: 38px;

        border-radius: 4px;
      }

      @media screen and (max-width: 320px) {
        width: 15px;
        height: 10px;
      }
    }

    .item {
      display: flex;
      align-items: center;
    }

    .item + .item {
      margin-top: 10px;

      @media screen and (max-width: 1199px) {
        margin-top: 6px;
      }

      @media screen and (max-width: 767px) {
        margin-top: 2px;
      }
    }
  }
}

.words-list {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }

  .word-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 130px;
    height: 100px;

    border-radius: 8px;

    background-color: rgb(177, 174, 211);
  }

  .word-list-item {
    margin-left: 10px;

    @media screen and (max-width: 1439px) {
      width: 110px;
      height: 86px;
    }

    @media screen and (max-width: 1199px) {
      width: 75px;
      height: 60px;

      margin-left: 6px;
    }

    @media screen and (max-width: 767px) {
      width: 50px;
      height: 30px;

      margin-left: 2px;
    }
  }

  p {
    font-size: 14px;

    @media screen and (max-width: 1439px) {
      font-size: 12px;
    }

    @media screen and (max-width: 1199px) {
      font-size: 8px;
    }

    @media screen and (max-width: 767px) {
      font-size: 4px;
    }
  }
}
